<div class="container">
    Tools
    <div class="button-group">
        <button *ngFor="let tool of tools;" (click)="selectTool(tool.toolName,tool.name,options)" class="button">
            {{tool.name}}
        </button>
    </div>
    Touch tools
    <div class="button-group">
        <button *ngFor="let tool of touchTools;" (click)="selectTouchTool(tool.toolName,tool.name,options)"
            class="button">
            {{tool.name}}
        </button>
    </div>

    <button (click)="resetTools()">
        reset tools
    </button>
</div>